.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  fill: red;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-link {
  cursor: pointer;
}

.brand-text {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

.brand-text:hover {
  text-decoration: none !important;
  color: black;
}

.top-btn-l {
  border-radius: 0 !important;
  background-color: black;
  border: 2px solid black;
}

.top-btn-l:hover  {
  background-color: black;
  border: 2px solid black;
}

.top-btn-l:active  {
  background-color: black;
  border: 2px solid black;
}

.top-btn-l:focus  {
  outline: none;
  box-shadow: none;
}

.top-btn-r {
  border-radius: 0 !important;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.top-btn-r:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.top-btn-r:active {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.top-btn-r:focus {
  outline: none;
  box-shadow: none;
}

.card-header {
  cursor: pointer;
}

.other-questions {
  margin-top: 1rem;
}

.placeIcon {
  width: 1.75rem;
  height: 1.75rem;
}

.full-width {
  width: 100%;
}

.hof_year {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.profile-image {
  margin-top: 1rem;
  width: 50%;
  height: auto;
}

.project-video {
  width: 75%;
  height: 20rem;
}

.project-video-lesser {
  width: 75%;
  height: 20rem;
}

.winner-card {
  width: 75%;
}

@media only screen and (max-width: 600px) {
  .winner-card {
    width: 100%;
  }

  .project-video {
    width: 100%;
    height: 10rem;
  }

  .project-video-lesser {
    width: 100%;
    height: 7rem;
  }

  .profile_col {
    min-width: 100%;
  }
}
